<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smileforme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smile_donate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smile_donate_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".donordashboard"></activity>
        <activity android:name=".ngolistactivity" />
        <activity android:name=".Ngoregistration" />
        <activity android:name=".Ngologin" />
        <activity android:name=".ngorequests" />
        <activity android:name=".Recipientrequests" />
        <activity android:name=".Uploaditem" />
        <activity android:name=".Items" />
        <activity android:name=".Newjunioradmin" />
        <activity android:name=".RecipientSignup" />
        <activity android:name=".RecipientLogin" />
        <activity android:name=".data.DonorSignUp" />
        <activity android:name=".DonorLogin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".Admindashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>