<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smileforme">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smile_donate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smile_donate_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".donormainpage"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".donorNgolist"
            android:parentActivityName=".donormainpage"></activity>
        <activity android:name=".ngolistactivity"
            android:parentActivityName=".Ngologin"/>
        <activity android:name=".Ngoregistration"
            android:parentActivityName=".Ngologin"/>
        <activity android:name=".Ngologin"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ngorequests"
            android:parentActivityName=".Admindashboard"/>
        <activity android:name=".Recipientrequests"
            android:parentActivityName=".Admindashboard"/>
        <activity android:name=".Items"
            android:parentActivityName=".RecipientLogin"/>
        <activity android:name=".Newjunioradmin"
            android:parentActivityName=".Admindashboard"/>
        <activity android:name=".RecipientSignup"
            android:parentActivityName=".RecipientLogin"/>
        <activity android:name=".RecipientLogin"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DonorSignUp"
            android:parentActivityName=".DonorLogin"/>
        <activity android:name=".DonorLogin"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AdminLogin"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Admindashboard"
            android:parentActivityName=".AdminLogin"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>